/* feeds.hasname.com */

article {
    clear: both;
    margin-bottom: 1em;
    margin-top: 1em;
}

footer {
    clear: both;
    color: #777;
    font-size: 0.8em;
    margin-top: 1em;
}

header {
    clear: both;
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.facebook-like, .tweet-like {
    border: 0;
    display: inline-block;
}

.like, .twitter-share-button {
    height: 3em !important;
    line-height: 3em;
}

#qrcode {
    float: right;
}
